version: "3.9"

services:
  clickhouse-keeper:
    image: clickhouse/clickhouse-keeper:24.3
    container_name: clickhouse-keeper
    ports:
      - "9181:9181"
      - "9444:9444"
    volumes:
      - clickhouse-keeper-data:/var/lib/clickhouse-keeper
      - clickhouse-keeper-logs:/var/log/clickhouse-keeper
      - ./config/clickhouse/keeper.xml:/etc/clickhouse-keeper/keeper.xml
    restart: always

  kafka-keeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: kafka-keeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    restart: always

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - kafka-keeper
    ports:
      - "9092:9092"       # internal broker listener
      - "29092:29092"     # external listener (Windows host MUST use this)
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: kafka-keeper:2181

      # Listener mapping
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    restart: always

  clickhouse-01:
    image: clickhouse/clickhouse-server:24.3
    container_name: clickhouse-01
    depends_on:
      - clickhouse-keeper
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse-data-01:/var/lib/clickhouse
      - ./config/clickhouse/config.xml:/etc/clickhouse-server/config.xml
    restart: always

  clickhouse-02:
    image: clickhouse/clickhouse-server:24.3
    container_name: clickhouse-02
    depends_on:
      - clickhouse-keeper
    ports:
      - "8124:8123"
      - "9001:9000"
    volumes:
      - clickhouse-data-02:/var/lib/clickhouse
      - ./config/clickhouse/config.xml:/etc/clickhouse-server/config.xml
    restart: always

  clickhouse-init:
    image: clickhouse/clickhouse-server:24.3
    container_name: clickhouse-init
    depends_on:
      - clickhouse-01
      - clickhouse-02
    volumes:
      - ./config/clickhouse/init_cluster.sql:/docker-entrypoint-initdb.d/init_cluster.sql
    entrypoint: ["/bin/true"]

volumes:
  clickhouse-keeper-data:
  clickhouse-keeper-logs:
  clickhouse-data-01:
  clickhouse-data-02:
